html ,body {
	font-family: Helvetica, Arial, "Microsoft Jhenghei", "微軟正黑體", sans-serif;
	color: #30302F;
	width: 100%;
	height: 100%;
	font-size: 18px;
	line-height: 1.6em;
	background-color: #FFF8F0;
}

header, section {
	width: 100%;
}

.storytelling {

	img {
		width: 100%;
	}
}

section {
	.contactBtn {
		display: inline-block;
		width: 240px;
		padding: 25px 0;
		background-color: #FFD983;
		margin-top: 50px;
		@include radius(12px);
		@include shadow(0, 10px, 0, 0, #E0BA51);
		font-size: 24px;
		color: #751F16;

		&:hover {
			background-color: #FFD577;
			@include shadow(0, 8px, 0, 0, #CCA859);
			position: relative;
			top: 2px;
		}
	}
}

header {
	position: relative;
	top: 0;
	height: 70px;
	background-color: #F7F7F7;
	z-index: 999;

	.container {
		position: relative;
		height: 100%;
	}

	.mobile-nav {
		position: relative;
		width: 100%;
		height: 70px;
		top: 0px;
		text-align: right;
		display: none;

		.menu-btn {
			width: 50px;
			height: 50px;
			background: url(../images/hamburger.png) 50% 50% no-repeat;
			cursor: pointer;
			position: absolute;
			right: 20px;
			top: 10px;
			z-index: 3;
		}

		.responsive-menu {
			display: none;
			z-index: 100;

			.menu {
				display: block;
				padding: 0;
				margin: 0;

				li {
					line-height: 60px;
					text-align: center;
					background-color: #525252;

					a {
						font-size: 18px;
						display: block;
						color: #CACACA;

						&.current-item {
							color: #FF7600;
						}
					}

					&:hover {
						background-color: #444444;
					}
				}
			}
		}

		.expand {
			display: block;
			width: 100%;
			position: absolute;
			top: 70px;
		}
	}

	.logoWrap {
		z-index: 4;
		position: absolute;
		left: 25px;
		top: 0;

		.smallLogo {
			display: block;
			font-size: 0;
			width: 200px;
			height: 70px;

			img {
				padding: 16px 0;
			}
		}
	}

	li a {
		color: #751F16;

		&:hover, &.here {
			color: #FF7600;
		}
	}

	.nav {
		height: 70px;
		margin: 0;
		overflow: hidden;
		position: absolute;
		right: 15px;

		li {
			float: left;
			padding: 0 22.5px;
			line-height: 72px;

			a {
				display: block;
			}
		}
	}
}

.container {
	width: 1400px;
	margin: 0 auto;

	.centerWrap {
		width: 96%;
		margin: 0 auto;
	}

	h1 {
		margin: 0.4em 0 1em;
		color: #751F16;
	}
}

.footer {
	background-color: #FFF8F0;

	.centerWrap {
		padding: 1% 0;
	}

	#schema {
		text-align: center;
		font-size: 14px;
		color: #949494;

		.address {
			display: inline-block;
		}

		a {
			color: #949494;

			&:hover {
				color: #DE9235;
				text-decoration: underline;
			}
		}
	}
}

@media screen and (max-width: 1399px) {
    /// 如果使用者之視窗寬度介於 1280px ~ 1399px，將會再載入這裡的 CSS。
    .container {
    	width: 1280px;
    }
}

@media screen and (max-width: 1279px) {
    /// 如果使用者之視窗寬度介於 960px ~ 1280px，將會再載入這裡的 CSS。
    .container {
    	width: 960px;
    }
}

@media screen and (max-width: 959px) {
    // 如果使用者之視窗寬度介於 768px ~ 979px，將會再載入這裡的 CSS。
    .container {
    	width: 768px;
    }

	header {
		.desktop-nav {
			display: none;	
		}

		.mobile-nav {
			display: block;
		}
	}  
}

@media screen and (max-width: 767px) {
    // 如果使用者之視窗寬度 <= 768px，將會再載入這裡的 CSS。
    .container {
    	width: 480px;
    }

	section {
		.contactBtn {
			margin-bottom: 30px;
		}
	}

	.footer {
		padding: 24px 0;
	}
}

@media screen and (max-device-width: 480px) {
    // 如果使用者之裝置寬度 <= 480px，將會再載入這裡的 CSS。
    .container {
    	width: 320px;
    }
}