html ,body {
	font-family: Helvetica, Arial, "Microsoft Jhenghei", "微軟正黑體", sans-serif;
	color: #30302F;
	width: 100%;
	height: 100%;
	font-size: 18px;
	line-height: 1.6em;
	background-color: #FFF8F0;
}

header, section {
	width: 100%;
}

section {
	.contactBtn {
		display: inline-block;
		width: 240px;
		padding: 25px 0;
		background-color: #FFD983;
		margin-top: 50px;
		@include radius(12px);
		@include shadow(0, 10px, 0, 0, #E0BA51);
		font-size: 24px;
		color: #751F16;

		&:hover {
			background-color: #FFD577;
			@include shadow(0, 8px, 0, 0, #CCA859);
			position: relative;
			top: 2px;
		}
	}
}

header {
	position: relative;
	top: 0;
	height: 70px;
	background-color: #F7F7F7;
	z-index: 999;

	.container {
		position: relative;
		height: 100%;
	}

	&.mobile {
		display: none;
	}

	.logoWrap {
		position: absolute;
		left: 0;
		top: 0;

		.smallLogo {
			display: block;
			font-size: 0;
			width: 200px;
			height: 70px;

			img {
				padding: 16px 0;
			}
		}
	}

	li a {
		color: #751F16;

		&:hover {
			color: #FF7600;
		}
	}

	.nav {
		height: 70px;
		margin: 0;
		overflow: hidden;
		position: absolute;
		right: 0;

		li {
			float: left;
			padding: 0 22.5px;
			line-height: 72px;

			a {
				display: block;
			}
		}
	}
}

.container {
	width: 1400px;
	margin: 0 auto;

	.centerWrap {
		width: 96%;
		margin: 0 auto;
	}

	h1 {
		margin: 0.4em 0 1em;
		color: #751F16;
	}
}

.footer {
	background-color: #FFF8F0;

	.centerWrap {
		padding: 1% 0;
	}

	#schema {
		text-align: center;
		font-size: 14px;
		color: #949494;

		.address {
			display: inline-block;
		}

		a {
			color: #949494;

			&:hover {
				color: #DE9235;
				text-decoration: underline;
			}
		}
	}
}

.importantPromo {
	position: fixed;
	top: 0;
	right: 0;
	width: 188px;
	display: block;
	z-index: 1000;
}


@media screen and (max-width: 1399px) {
    /// 如果使用者之視窗寬度介於 1280px ~ 1399px，將會再載入這裡的 CSS。
    .container {
    	width: 1280px;
    }
}

@media screen and (max-width: 1279px) {
    /// 如果使用者之視窗寬度介於 960px ~ 1280px，將會再載入這裡的 CSS。
    .container {
    	width: 960px;
    }
}

@media screen and (max-width: 959px) {
    // 如果使用者之視窗寬度介於 768px ~ 979px，將會再載入這裡的 CSS。
    .container {
    	width: 768px;
    }

	header {
		&.desktop {
			display: none;	
		}

		&.mobile {
			display: block;
			height: 70px;
			top: 0;

			.logoWrap {
				left: 100px;
				top: 0;
			}
		}
	}

	.mobile {
		.smallLogo {
			font-size: 0;
			text-align: center;
			display: block;
			height: 100%;

			.logoImg {
				padding: 16px 0;
			}
		}

		.menu {
	        position: relative;
	        top: -66px;
	        left: 10px;
	        width: calc(100% - 20px);

		    ul.active {
		    	display: none;
		    }

		    ul {
		        width: calc(100% - 20px);
		        position: absolute;
		        top: 60px;
		        left: 0px;
		        padding: 10px 18px;
		        @include radius(3px);
		        background: #FFFFFF;
		        padding: 0;

		        &:after {
					width: 0px;
					height: 0px;
					position: absolute;
					top: 0%;
					left: 22px;
					content:'';
					transform: translate(0%, -100%);
					border-left: 7px solid transparent;
					border-right: 7px solid transparent;
					border-bottom: 7px solid #FFFFFF;		        	
		        }		    	
		    }

		    li {
        		padding: 10px 20px;
        		display: block;

        		&:hover {
        			background-color: #FFF8F0;

        			a {
        				color: #FF7600;
        			}
			    }
		    }

		    a {
			    transition: color linear 0.15s;
			    display: block;	    	
		    }

		    .current-item a {
		    	color: #FF7600;
		    }

		    .toggle-nav {
		        display: inline-block;
		        @include radius(3px);
		        background: #FFFFFF;
		        color: #777;
		        font-size: 30px;
		        width: 60px;
		        height: 60px;
		        line-height: 60px;
		        text-align: center;
		        transition: color linear 0.15s;
		        border: 1px solid #D8D8D8;

		        &:hover, &:active {
			        color: #FF7600;		        	
		        }
		    }
		}
	}   
}

@media screen and (max-width: 767px) {
    // 如果使用者之視窗寬度 <= 768px，將會再載入這裡的 CSS。
    .container {
    	width: 480px;
    }

	section {
		.contactBtn {
			margin-bottom: 30px;
		}
	}

	.footer {
		padding: 24px 0;
	}
}

@media screen and (max-device-width: 480px) {
    // 如果使用者之裝置寬度 <= 480px，將會再載入這裡的 CSS。
    .container {
    	width: 320px;
    }
}