@import "normalize";
@import "mixin";
@import "layout";

header {
	position: fixed;
	top: 0;
}

.postCover {
	width: 100%;
	margin-top: 70px;

	.cover {
		width: 100%;
	}
}

.post {
	position: relative;
	top: -240px;
	color: #444444;

	.titleWrap {
		width: 100%;
		height: 160px;
		text-align: center;

		.category {
			font-size: 20px;
			color: #ffd577;
			margin-bottom: 14px;
			letter-spacing: 1px;
		}

		.postTitle {
			font-size: 42px;
			line-height: 50px;
			color: #ffffff;
			letter-spacing: 2px;
			margin: 10px 0;
		}
	}

	.centerPostWrap {
		width: 1000px;
		padding: 80px 100px 20px;
		margin: 0 auto;
		background-color: #ffffff;
	}

	.infoBar, .share {
		text-align: center;
		font-size: 16px;
		line-height: 32px;
		color: #999;
	}

	.share { 
		margin: 5px 0 40px;
		line-height: 44px;
		height: 44px;

		.social-likes {
			display: inline-block;
			cursor: pointer;
		}

		.icon {
			display: inline-block;
			width: 32px;
			height: 32px;
			margin-right: 5px;
			font-size: 0;
		}

		.line {
			background: url(../images/social_icon.png) 0 0 no-repeat;

			&:hover {
				background: url(../images/social_icon_hover.png) 0 0 no-repeat;				
			}
		}
	}

	.shareWrap { margin-top: 100px;}
	.location { padding-right: 6px;}
	.author { padding-left: 6px;}

	p {
		font-size: 18px;
		line-height: 36px;
		margin-top: 0;
		margin-bottom: 30px;
	}

	.img, .imgGroup {
		margin-bottom: 50px;
		overflow: hidden;
	}

	.imgGroup .img { margin-bottom: 0;}
	.grid-12 img { width: 100%;}

	.grid-6 img { 
		width: calc(50% - 3px);
		float: left;
		margin-right: 6px;

		&:nth-last-of-type(1) {
			margin-right: 0;
		}
	}

	.grid-4 img { 
		width: calc(33% - 1px);
		float: left;
		margin-right: 6px;

		&:nth-last-of-type(1) {
			margin-right: 0;
		}
	}

	.photoDescription {
		text-align: center;
		font-size: 14px;
		color: #999;
	}

	.centerContainer { 
		text-align: center;
		margin: 60px 0;
	}

	.importantInfo {
		font-size: 20px;
		padding-left: 0;
		margin: 0 0 50px 0;

		li {
			line-height: 1.6em;
			padding: 10px 0;
			border-bottom: 1px solid #E8E8E8;	
		}
	}

	.itemWrap {
		li, p {
			color: #8A8A8A;
		}

		li {
			padding: 8px 0;
		}

		h2 {
			margin-top: 40px;
		}

		.thumbnailWrap {
			width: 100%;
			overflow: hidden;

			.photoThumbnail {
				float: left;
				width: 40%;

				img {
					width: 100%;
				}
			}

			.guestInfo {
				float: right;
				width: 52%;

				.guest {
					font-size: 20px;
					color: #444444;
				}

				.teacherOtherInfo {
					padding-left: 0;

					li {
						padding: 0 0 5px 0;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1399px) {
    /// 如果使用者之視窗寬度介於 1280px ~ 1399px，將會再載入這裡的 CSS。
}

@media screen and (max-width: 1279px) {
    /// 如果使用者之視窗寬度介於 960px ~ 1280px，將會再載入這裡的 CSS。	
    .post {
    	.centerPostWrap {
    		width: 760px;
    	}

		.grid-4 img { 
			width: calc(33% - 2px);
		}
    }
}

@media screen and (max-width: 959px) {
    // 如果使用者之視窗寬度介於 768px ~ 979px，將會再載入這裡的 CSS。
    .post {
    	.titleWrap .postTitle {
    		font-size: 36px;
    		line-height: 44px;
    	}

    	.centerPostWrap {
    		width: 568px;
    	}

		.grid-4 img { 
			width: calc(33% - 3px);
		}
    }
}

@media screen and (max-width: 767px) {
    // 如果使用者之視窗寬度 <= 480px ~ 768px，將會再載入這裡的 CSS。
    .post {
    	top: -166px;

    	.titleWrap {
    		width: 90%;
    		margin: 0 auto;

    		.postTitle {
	    		font-size: 30px;
	    		line-height: 40px;    			
    		}
    	}

    	.centerPostWrap {
    		width: calc(100% - 100px);
    		padding: 80px 50px 20px;
    	}

    	.itemWrap .thumbnailWrap {
    		.photoThumbnail, .guestInfo {
    			float: none;
    			width: 100%;
    		}

    		.guestInfo {
    			margin-top: 20px;
    		}
    	}

    	.itemWrap ul {
    		padding-left: 0;
    	}

    	.grid-4 img, .grid-6 img, .grid-12 img {
    		width: 100%;
    		margin-bottom: 15px;
    		margin-right: 0;
    	} 
    }
}

@media screen and (max-device-width: 480px) {
    // 如果使用者之裝置寬度 <= 480px，將會再載入這裡的 CSS。
    .mobile .smallLogo .logoImg {
    	width: 50%;
    	padding: 20px 12px;
    }

    .post {
    	top: -94px;

		.titleWrap {
			height: 78px;

			.category {
				display: none;
			}

			.postTitle {
				font-size: 20px;
				line-height: 30px;
			}
		}

    	.centerPostWrap {
	    	width: calc(100% - 60px);
	    	padding: 50px 30px 20px;
    	}
    }
}