html ,body {
	font-family: Helvetica, Arial, "Microsoft Jhenghei", "微軟正黑體", sans-serif;
	color: #30302F;
	width: 100%;
	height: 100%;
	font-size: 18px;
	line-height: 1.6em;
	background-color: #F4F4F0;
}

section {
	width: 100%;
}

.container {
	width: 1400px;
	margin: 0 auto;

	.centerWrap {
		width: 100%;
	}

	h1 {
		margin: 0.4em 0 1em;
		color: #751F16;
	}
}

.storytelling {
	border-top: 10px solid #967B30;

	.banner {
		width: 100%;
	}
}

.intro {
	.centerWrap {
		overflow: hidden;

		.logo, .statement {
			float: left;
		}

		.logo {
			width: 25%;
			padding: 10% 0 8% 10%;
			text-align: center;
		}

		.statement {
			width: 50%;
			padding: 10% 10% 10% 5%;
		}
	}
}

.callToAction {
	background-color: #6D6D6D;
	padding: 5% 0;

	.centerWrap {
		text-align: center;
		font-size: 20px;
		color: #fff;

		p {
			color: #fff;
		}

		a {
			display: inline-block;
			width: 240px;
			padding: 25px 0;
			background-color: #FFD983;
			margin-top: 50px;
			@include radius(12px);
			@include shadow(0, 10px, 0, 0, #E0BA51);
			font-size: 24px;
			color: #751F16;

			&:hover {
				@include shadow(0, 10px, 0, 0, #CCA859);
				position: relative;
				top: 2px;
			}
		}
	}
}

.records {
	.centerWrap {
		overflow: hidden;
		padding: 10% 0;

		h1 {
			margin-left: 1%;
		}

		.blogs {
			display: block;
			width: 23%;
			margin: 20px 1%;
			float: left;
			background-color: #fff;
			@include radius(5px);
			color: #30302F;

			img {
				width: 100%;
			}

			.summary {
				width: 90%;
				margin: 8% auto;
				text-align: justify;

				p {
					color: #848484;
				}
			}

			&:hover {
				@include shadow(5px, 5px, 10px, 4px, rgba(183, 179, 172, 0.4));
				color: #751F16;
			}
		}
	}
}

.footer {
	background-color: #E0DED5;

	.centerWrap {
		padding: 1% 0;
	}

	.information, .allRights {
		text-align: center;
		font-size: 14px;
		color: #949494;

		a {
			color: #949494;

			&:hover {
				color: #DE9235;
			}
		}
	}
}

@media screen and (max-width: 1280px) {
    /// 如果使用者之視窗寬度介於 960px ~ 1280px，將會再載入這裡的 CSS。
    .container {
    	min-width: 960px;
    }
}

@media screen and (max-width: 959px) {
    // 如果使用者之視窗寬度介於 768px ~ 979px，將會再載入這裡的 CSS。
    .container {
    	min-width: 768px;
    }    
}

@media screen and (max-width: 767px) {
    // 如果使用者之視窗寬度 <= 768px，將會再載入這裡的 CSS。
    .container {
    	min-width: 480px;
    }     
}

@media screen and (max-device-width: 480px) {
    // 如果使用者之裝置寬度 <= 480px，將會再載入這裡的 CSS。
    .container {
    	min-width: 320px;
    }
}